nn/config/hyperParameter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="nju.chuan.hyp" xmlns="nju.chuan.hyp" elementFormDefault="qualified">
    <xs:element name="hyperParameter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lr" type="xs:float" />
                <xs:element name="bs" type="xs:unsignedInt" />
                <xs:element name="nEpoch" type="xs:unsignedInt" />
                <xs:element name="nLatent" type="xs:unsignedByte" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>